<h1>New website</h1>

<% form_for(@website) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :webaddress %><br />
    <%= f.text_field :webaddress %>
  </p>
  <p>
    <%= f.label :parse_info %><br />
    <%= f.text_field :parse_info %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', websites_path %>