<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps JavaScript API v3 Example: Complex Icons</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
<%= stylesheet_link_tag 'scaffold' %>
function initialize() {
var myOptions = {
  zoom: 12,
  center: new google.maps.LatLng(<%= @city_center %>),
  mapTypeId: google.maps.MapTypeId.ROADMAP
}
var map = new google.maps.Map(document.getElementById("map_canvas"),
  myOptions);
  setMarkers(map, houses);
}

/**
* Data for the markers consisting of a name, a LatLng and a zIndex for
* the order in which these markers should display on top of each
* other.
*/
var houses = [
<% x = 1 %>
<% @addresses.each do |address| %>
  <%= ', ' if x > 1 %>['<%= address.full_address.to_s+" | "+address.sale_date.to_s+" | "+address.appraised_value.to_s %>', <%= address.lat %>, <%= address.long %>, <%= x %>]
  <% x+=1 %>
<% end if !@addresses.nil? %>
];

function setMarkers(map, locations) {
  for (var i = 0; i < locations.length; i++) {
    var house = locations[i];
    var myLatLng = new google.maps.LatLng(house[1], house[2]);
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: house[0],
      zIndex: house[3]
    });
  }
}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
<%= yield %>
</body>
</html>
